/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100vw;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2; 
}

h1 {
    height: 100px;
    width: 300px;
    text-align: left;
    color: rgb(42, 171, 226);
    margin-left: 30px;
}


nav {
   display: flex;
   width: 50%;
   justify-content: space-evenly;
   flex-direction: row;
   align-items: center;
   margin-right:100px;  
}

a:link {
    color: white;
    }

a:visited {
    color: white;
}  

main {
    height: 220px;
    width: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative; 
    margin-top: 80px;
    margin-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#profile {
    height: 170px;
    width: 16%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: right;
    /* align-items: center; */
    position: fixed;  
    margin-top: 200px;
    margin-left: 830px;
    border-radius: 15px;
    box-shadow:1px 1px 20px 1px rgba(102, 75, 75, .3) ;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#profile h2 {
    text-align: center;
}

aside {
    height: 50px;
    width: 50px;
}

article {
    height: 350px;
    width: 15%;
    position: fixed;
    color: black;
    display: flex;
    flex-direction: column;
    margin-left: 830px ;
    margin-top: 400px;
    border-radius: 15px;
    box-shadow:1px 1px 20px 1px rgba(102, 75, 75, .3) ;
    padding-left: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    }

article li {
    margin-bottom: 5px;
}

 article h3 {
    text-align: center;
    margin-right: 30px;
} 

#gallery {
    height: 300px;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    background-color: hotpink;
    margin-top: 400;
    margin-left: 40px;
    /*margin-bottom: 20px; */
    overflow: scroll;
    justify-content: center;
}

#gallery img {
    margin: 10px;
    padding: 20px;
 } 

 #gallery h4 {
     margin-top: 20px;
     margin-bottom: 0px;
 }


footer {
    margin-top: auto;
    height: 75px;
    background-color: rgb(42, 171, 226);
}

footer h3 {
    margin-left: 40px;
}

aside {
           float:right;
   
       }
